html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
